@use '@/styles/index' as s;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: s.gap(3);
  padding-top: s.gap(20);
  text-align: center;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-bottom: s.gap(3);
  border-radius: 50%;
  color: #fff;
  background: var(--success);
}

.title {
  @include s.text_title;
}

.text {
  @include s.text_callout;

  margin-bottom: s.gap(3);
  color: var(--text-2);
}
